spring:
  application:
    name: final-practical-test-1
  messages:
    basename: home
  datasource:
    url: jdbc:mariadb://localhost:3306/dept_emp
    username: root
    password: rootpassword
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
        ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect
  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML5
    encoding: UTF-8
    servlet:
      content-type: text/html

server:
  port: 8080

logging:
  level:
    web: debug